# Prep imports and libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import quantile_transform
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import OneHotEncoder  ##. better to use dummy from pandas 
from sklearn.preprocessing import PowerTransformer
from scipy.stats import boxcox
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
pd.options.display.max_rows = 50
import qgrid
import glob
import math
import os

# Load demographic and nutrition info

In [9]:
def load_csv_dataframes(path):
    '''Loads all csv files in a folder and stores them in a list of dataframes.
    Returns list of dataframes.
    [attributes]
    path: path of folder with csvs inside
    '''
    all_files = glob.glob(path + "/*.csv")
    dataframes_list=[]
    file_count=len(all_files)
    for i in range(file_count):
        temp_df = pd.read_csv(all_files[i])
        dataframes_list.append(temp_df)

    return dataframes_list

df_list=load_csv_dataframes(r"Data\1. Files to merge")

In [10]:
df_list

[                country  \
 0           Afghanistan
 1               Albania
 2               Algeria
 3               Andorra
 4                Angola
 ..                  ...
 240  West Bank and Gaza
 241               World
 242               Yemen
 243              Zambia
 244            Zimbabwe

      adults (ages 15+) and children (0-14 years) living with hiv  \
 0                                               6900.0
 1                                                  NaN
 2                                               8800.0
 3                                                  NaN
 4                                             320000.0
 ..                                                 ...
 240                                                NaN
 241                                         36700000.0
 242                                             9200.0
 243                                          1200000.0
 244                                          1400000.0

      adults (ages 15+) and children (ages 0-14) newly infected with hiv  \
 0                                               1000.0
 1                                                  NaN
 2                                                500.0
 3                                                  NaN
 4                                              26000.0
 ..                                                 ...
 240                                                NaN
 241                                          2100000.0
 242                                             1000.0
 243                                            60000.0
 244                                            64000.0

      adults (ages 15+) living with hiv  \
 0                               6700.0
 1                                  NaN
 2                               8600.0
 3                                  NaN
 4                             290000.0
 ..                                 ...
 240                                NaN
 241                         34900000.0
 242                             8800.0
 243                          1100000.0
 244                          1300000.0

      adults (ages 15+) newly infected with hiv  \
 0                                       1000.0
 1                                          NaN
 2                                        500.0
 3                                          NaN
 4                                      22000.0
 ..                                         ...
 240                                        NaN
 241                                  1900000.0
 242                                     1000.0
 243                                    55000.0
 244                                    59000.0

      age dependency ratio (% of working-age population)  \
 0                                            86.954464
 1                                            44.806973
 2                                            52.617579
 3                                                  NaN
 4                                            99.855751
 ..                                                 ...
 240                                          76.001869
 241                                          53.903376
 242                                          75.595147
 243                                          95.402326
 244                                          80.391033

      age dependency ratio, old  age dependency ratio, young  \
 0                     4.616073                    82.338391
 1                    17.950766                    26.856206
 2                     9.062490                    43.555089
 3                          NaN                          NaN
 4                     4.623604                    95.232147
 ..                         ...                          ...
 240                   5.209241                    70.792628
 241                  12.597747                    39.793932
 242                   4.893864                    70.701283
 243                   5.683539                    89.718788
 244                   5.347744                    75.043289

      age population, age 0, female, interpolated  \
 0                                       470554.0
 1                                        21438.0
 2                                       459353.0
 3                                            NaN
 4                                       502641.0
 ..                                           ...
 240                                      72280.0
 241                                          NaN
 242                                     392662.0
 243                                     295178.0
 244                                     262428.0

      age population, age 0, male, interpolated  ...  \
 0                                     498844.0  ...
 1                                      23178.0  ...
 2                                     476141.0  ...
 3                                          NaN  ...
 4                                     510719.0  ...
 ..                                         ...  ...
 240                                    75575.0  ...
 241                                        NaN  ...
 242                                   409629.0  ...
 243                                   301320.0  ...
 244                                   264810.0  ...

      prevalence of undernourishment (% of population)  \
 0                                                26.8
 1                                                 NaN
 2                                                 5.0
 3                                                 NaN
 4                                                14.2
 ..                                                ...
 240                                               NaN
 241                                              10.8
 242                                              26.1
 243                                              47.8
 244                                              33.4

      ratio of young literate females to males (% ages 15-24)  \
 0                                              0.66416
 1                                              1.00106
 2                                              0.99064
 3                                                  NaN
 4                                              0.85594
 ..                                                 ...
 240                                            0.99907
 241                                                NaN
 242                                            0.84740
 243                                            0.98069
 244                                            1.03930

      rural population  rural population (% of total population)  \
 0        2.384099e+07                                 73.297000
 1        1.230583e+06                                 42.593000
 2        1.161158e+07                                 29.273000
 3        1.049000e+04                                 14.885000
 4        1.399979e+07                                 55.950000
 ..                ...                                       ...
 240      1.094392e+06                                 24.748000
 241      3.378269e+09                                 46.142762
 242      1.754666e+07                                 65.394000
 243      9.577588e+06                                 59.078000
 244      1.055120e+07                                 67.624000

      rural population growth (annual %)  urban population  \
 0                              2.230253      8.685568e+06
 1                             -2.471277      1.658584e+06
 2                             -0.159154      2.805494e+07
 3                              0.315081      5.998300e+04
 4                              1.849082      1.102218e+07
 ..                                  ...               ...
 240                            2.015624      3.327751e+06
 241                            0.190432      3.943073e+09
 242                            1.565199      9.285556e+06
 243                            2.312997      6.634179e+06
 244                            2.498968      5.051547e+06

      urban population (% of total)  urban population growth (annual %)  \
 0                        26.703000                            4.392152
 1                        57.407000                            1.598580
 2                        70.727000                            2.712200
 3                        85.115000                           -3.836562
 4                        44.050000                            5.003843
 ..                             ...                                 ...
 240                      75.252000                            3.225469
 241                      53.857238                            2.054434
 242                      34.606000                            4.133982
 243                      40.922000                            4.177551
 244                      32.376000                            1.928627

      women's share of population ages 15+ living with hiv (%)   grand total
 0                                            28.575694         2.257291e+08
 1                                                  NaN         1.846349e+07
 2                                            45.725948         2.567538e+08
 3                                                  NaN         1.421499e+05
 4                                            59.709155         1.716867e+08
 ..                                                 ...                  ...
 240                                                NaN         2.952038e+07
 241                                          50.836255         4.485283e+10
 242                                          41.098550         1.850650e+08
 243                                          57.244490         1.186270e+08
 244                                          58.855551         1.121429e+08

 [245 rows x 212 columns],
                  country  fat_animal products  fat_animal fats  \
 0            afghanistan              21.6397           6.2224
 1                albania              32.0002           3.4172
 2                algeria              14.4175           0.8972
 3                 angola              15.3041           1.3130
 4    antigua and barbuda              27.7033           4.6686
 ..                   ...                  ...              ...
 165            venezuela              16.3261           2.2673
 166              vietnam              33.2484           3.8238
 167                yemen              12.5401           2.0131
 168               zambia               9.6005           1.6113
 169             zimbabwe              10.3796           2.9543

      fat_cereals - excluding beer  fat_eggs  fat_fish, seafood  \
 0                          8.0353    0.6859             0.0327
 1                          2.6734    1.6448             0.1445
 2                          4.2035    1.2171             0.2008
 3                          6.5545    0.1539             1.4155
 4                          3.2153    0.3872             1.5263
 ..                            ...       ...                ...
 165                        2.5449    0.6555             0.5707
 166                        3.7155    0.7839             1.1217
 167                       11.5271    0.5514             0.3847
 168                       14.3225    0.6266             1.0070
 169                        9.7922    0.3682             0.2455

      fat_fruits - excluding wine  fat_meat  fat_miscellaneous  \
 0                         0.4246    6.1244             0.0163
 1                         0.6418    8.7428             0.0170
 2                         0.5772    3.8961             0.0439
 3                         0.3488   11.0268             0.0308
 4                         1.2177   14.3202             0.0898
 ..                           ...       ...                ...
 165                       0.9640    7.0949             0.0077
 166                       0.4079   26.4292             0.0064
 167                       0.2564    8.0010             0.0256
 168                       0.1343    4.9010             0.0224
 169                       0.0614    4.5674             0.0175

      fat_milk - excluding butter  ...  protein_spices  protein_starchy roots  \
 0                         8.2803  ...          0.1664                 0.1941
 1                        17.7576  ...          0.0000                 0.8867
 2                         8.0934  ...          0.1776                 1.4638
 3                         1.2309  ...          0.0000                 5.1941
 4                         6.6607  ...          0.3438                 0.4666
 ..                           ...  ...             ...                    ...
 165                       5.5217  ...          0.0000                 1.1195
 166                       0.7520  ...          0.5221                 0.2333
 167                       1.3463  ...          0.0657                 0.2066
 168                       1.2756  ...          0.0846                 1.2863
 169                       2.1040  ...          0.0488                 0.5467

      protein_stimulants  protein_sugar & sweeteners  protein_treenuts  \
 0                0.5546                      0.0000            0.1387
 1                0.2635                      0.0042            0.2677
 2                0.4628                      0.0000            0.2745
 3                0.1017                      0.0092            0.0092
 4                0.4113                      0.0000            0.0737
 ..                  ...                         ...               ...
 165              0.3287                      0.0178            0.0000
 166              0.5444                      0.0056            0.3277
 167              0.3193                      0.0000            0.0188
 168              0.0762                      0.0000            0.0000
 169              0.2636                      0.0000            0.1367

      protein_vegetal products  protein_vegetable oils  protein_vegetables  \
 0                     40.2477                  0.0000              1.1370
 1                     22.2552                  0.0084              3.2456
 2                     36.1694                  0.0269              3.1267
 3                     34.7782                  0.0092              0.8133
 4                     16.8161                  0.0430              1.6024
 ..                        ...                     ...                 ...
 165                   27.4545                  0.0533              1.0129
 166                   29.5617                  0.0000              3.7216
 167                   39.9831                  0.0000              0.5448
 168                   40.1117                  0.0000              0.8039
 169                   38.6508                  0.0293              0.5955

      protein_miscellaneous  mortality_rate_covid
 0                   0.0462              4.352069
 1                   0.0544              1.717095
 2                   0.1399              2.677922
 3                   0.0924              2.367660
 4                   0.2947              2.430556
 ..                     ...                   ...
 165                 0.0267                   NaN
 166                 0.0389                   NaN
 167                 0.0564                   NaN
 168                 0.0592                   NaN
 169                 0.0586                   NaN

 [170 rows x 66 columns]]

# Make all country names lowercase

In [11]:
def string_lowercase(df):
    '''Makes all string values in dataframe lowercase.
    Returns updated dataframe.
    [attributes]
    df: dataframe to apply lower on'''
    df=df.applymap(lambda x:x.lower() if type(x) == str else x)
    return df

for i in df_list:
    i.update(string_lowercase(i))

# Merge files

In [21]:
df=pd.merge(df_list[0], df_list[1], on='country')
df.to_csv(r"Data\1. Files to merge\combined_data_merged.csv", index = False, encoding='utf-8') # False: not include index

In [22]:
qgrid.show_grid(df,grid_options={'forceFitColumns': False})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

# Check dataset as is

In [18]:
qgrid.show_grid(df,grid_options={'forceFitColumns': False})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

# Gather count of NANs by column

In [19]:
count_of_na=df.isna().sum()
qgrid.show_grid(count_of_na,grid_options={'forceFitColumns': False})

QgridWidget(grid_options={'fullWidthRows': True, 'syncColumnCellResize': True, 'forceFitColumns': False, 'defa…

## Get a list of all columns with more than 10 NANs and drop them from dataset

In [7]:
large_na=count_of_na[count_of_na>20]
len(large_na)

26

In [8]:
for i in large_na.index:
    df.drop(columns=i,inplace=True)

## Output a file at this stage

In [9]:
output_path=r'C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\IH_Berliners\Data\2. After dropped columns\combined_data_without_dropped_columns.csv'
df.to_csv(output_path, index=False)

## Check for columns with few NANs and export it as a file to clean manually

In [10]:
count_of_na=df.isna().sum()
small_na=count_of_na[count_of_na>5]
df_nas=df[small_na.index]

In [11]:
df_nas['country']=df['country']
df_nas

C:\Users\MichaelTaylo_c9zoof3\AppData\Local\Temp\ipykernel_8976\965910400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nas['country']=df['country']

,"gni per capita, atlas method (current us$)","immunization, hepb3 (% of one-year-old children)",improved sanitation facilities (% of population with access),"improved sanitation facilities, rural (% of rural population with access)","improved sanitation facilities, urban (% of urban population with access)",improved water source (% of population with access),"improved water source, rural (% of rural population with access)",maternal leave benefits (% of wages paid in covered period),number of weeks of maternity leave,people practicing open defecation (% of population),"people practicing open defecation, rural (% of rural population)","people practicing open defecation, urban (% of urban population)",undernourished,country
0,630.0,78.0,31.9,27.0,45.1,55.3,47.0,100.0,90.0,12.7,17.4,0.0,29.8,afghanistan
1,4290.0,98.0,93.2,90.2,95.5,95.1,95.2,65.0,365.0,0.0,0.0,0.0,6.2,albania
2,4870.0,95.0,87.6,82.2,89.8,83.6,81.8,100.0,98.0,0.8,2.3,0.2,3.9,algeria
3,4180.0,64.0,51.6,22.5,88.6,49.0,28.2,100.0,90.0,30.3,53.8,0.5,25.0,angola
4,13390.0,99.0,NaN,NaN,NaN,97.9,97.9,78.0,91.0,NaN,NaN,NaN,NaN,antigua and barbuda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,NaN,87.0,94.4,69.9,97.5,93.1,77.9,100.0,182.0,5.4,28.6,2.5,21.2,venezuela
159,1980.0,97.0,78.0,69.7,94.4,97.6,96.9,100.0,180.0,0.7,1.1,0.0,9.3,vietnam
160,NaN,69.0,NaN,NaN,NaN,NaN,NaN,100.0,70.0,NaN,NaN,NaN,38.9,yemen
161,1500.0,90.0,43.9,35.7,55.6,65.4,51.3,100.0,84.0,13.7,22.3,1.3,46.7,zambia
162,850.0,87.0,36.8,30.8,49.3,76.9,67.3,100.0,98.0,27.6,40.1,1.5,51.3,zimbabwe

In [12]:
output_path=r'C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\IH_Berliners\Data\few_nans_to_manually_fix.csv'
df_nas.to_csv(output_path, index=False)

### Make copy of df to ensure nothing goes wrong in merging data back in

In [13]:
df_latest=df.copy()

In [14]:
df_no_nan=pd.read_csv(r"C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\personal\People Analytics\Data\Final\few_nans_to_manually_fix_done.csv")

In [15]:
df_latest.update(df_no_nan,overwrite=False)

In [204]:
df_latest=to_csv(r"C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\IH_Berliners\Data\3. Full merge no nan\full_merge_no_nan.csv")

In [16]:
df_latest.isna().sum()

country                                               0
age dependency ratio (% of working-age population)    1
age dependency ratio, old                             1
age dependency ratio, young                           1
age population, age 0, female, interpolated           1
                                                     ..
protein_treenuts                                      0
protein_vegetal products                              0
protein_vegetable oils                                0
protein_vegetables                                    0
protein_miscellaneous                                 0
Length: 251, dtype: int64

In [206]:
df=pd.read_csv(r"C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\IH_Berliners\Data\3. Full merge no nan\full_merge_no_nan.csv")

In [17]:
def replace_nan_integer_with_mean(df,integers_with_nan):
    #Fill missing numbers with the average of the column
    for j in integers_with_nan:
        temp_mean=np.mean(df[j])
        df[j]=df[j].fillna(temp_mean)
    return df

def get_columns_with_nan(df):
    # This creates a list ## integers_with_nan ## which is a list of numerical columns with blanks in them.  
    col_list=[]
    col_list=df.columns
    integers_with_nan=[]
    for i in col_list:
        if df[i].isnull().values.any()==True:
            if df[i].dtype!='O':
                integers_with_nan.append(i)
    return integers_with_nan

integers_with_nan=get_columns_with_nan(df)
#integers_with_nan=[list]


#Replace missing numbers with mean
df=replace_nan_integer_with_mean(df,integers_with_nan)

In [18]:
df.to_csv(r"C:\Users\MichaelTaylo_c9zoof3\Documents\GitHub\IH_Berliners\Data\3. Full merge no nan\full_merge_no_nans2.csv",index=False)